# remove ".example" to active configs
# http & ws server port
ServerPort = ":50000"
# ws path
ServerPath = "/nostr"
# mode debug/release
ServerMode = "debug"
# bytes
MaxMessageSize = 1073741824
# max row return each fetch req, -1 all
MaxRows = 100


# pg server
[PGSQL]
DBName = "pg"
Username = "pg"
Password = "pgpwd"
Host = "0.0.0.0"
Port = 5432

[Relay]
AdminPubKey = "xxx"
Nips = [ 1, 2, 9, 11, 25, 65 ]
Name = "example"
Description = ""
Version = ""
Contract = ""
Software = ""